body {
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Kumbh Sans", sans-serif;

    --primary-normal: hsl(238, 29%, 16%);
    --primary-highlight: hsl(14, 88%, 65%);

    --neutral-bold: hsl(237, 12%, 33%);
    --neutral-highlight: hsl(240, 6%, 50%);

    --divider-color: hsl(240, 5%, 91%);

    color: var(--primary-normal);

    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
}

.wrapper {
    background-color: white;
    margin-top: 9.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    width: clamp(20.56rem, 88vw, 57.625rem);

    border-radius: 2em;
    box-shadow: 0px 2.8px 1.5px rgba(0, 0, 0, 0.011),
        0px 6.7px 3.5px rgba(0, 0, 0, 0.016),
        0px 12.5px 6.6px rgba(0, 0, 0, 0.02),
        0px 22.3px 11.8px rgba(0, 0, 0, 0.024),
        0px 41.8px 22.1px rgba(0, 0, 0, 0.029),
        0px 100px 53px rgba(0, 0, 0, 0.04);
}
@media screen and (max-width: 768px) {
    .svg-div {
        width: 15rem;
        position: absolute;
        top: 0;
        transform: translateY(-60%);

        display: flex;
        justify-content: center;

        /* border: dotted 0.1rem violet; */
    }

    .bg-svg {
        /* border: solid 0.1rem red; */
        position: absolute;
        transform: translateY(100%);
        z-index: -1;
    }
    .cube-svg {
        display: none;
    }
}
.main-wrapper {
    /* padding: 1.5rem;
    padding-top: 8.5rem; */
    padding: 8.5rem 1.5rem 3rem;
    /* background-color: blue; */
}

.faq {
    margin-top: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    /* background-color: red; */
}

.faq-questions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

/* .faq-questions:hover,
.faq-questions:focus {
    color: var(--primary-highlight);
} */

.faq-answers {
    color: var(--neutral-highlight);
    opacity: 0;
    height: 0px;
    margin: 0;
}

.divider {
    height: 1px;
    background-color: var(--divider-color);
}

@media screen and (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        /* align-items: stretch; */
    }
    .main-wrapper {
        padding: 4.7rem 6rem 5.5rem 1rem;
        width: 40%;
    }

    .faq {
        text-align: left;
        margin-bottom: 1.8rem;
    }

    .svg-div {
        position: relative;
        width: 60%;
        align-self: stretch;
        overflow: hidden;
    }
    .main-woman-svg {
        position: absolute;
        width: 100%;
        left: -15%;
        top: 50%;
        transform: translateY(-50%);
    }
    .cube-svg {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: -10%;
        transform: translateY(-25%);
        overflow: visible;
    }

    .bg-svg {
        position: absolute;
        left: 85%;
        top: 50%;
        transform: translateY(-50%) translateX(-100%);
    }
}
