body {
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Kumbh Sans", sans-serif;

    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;

    --primary-normal: hsl(238, 29%, 16%);
    --primary-highlight: hsl(14, 88%, 65%);

    --neutral-bold: hsl(237, 12%, 33%);
    --neutral-highlight: hsl(240, 6%, 50%);

    --divider-color: hsl(240, 6%, 50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-wrapper {
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: clamp(20.56em, 88vw, 57.625em);
}
